Giver of Head Pats Bot/.idea
Giver of Head Pats Bot/.vs
Giver of Head Pats Bot/HeadPat/bin/
Giver of Head Pats Bot/HeadPat/obj/
Giver of Head Pats Bot/LinuxBuild/start.sh
Giver of Head Pats Bot/LinuxBuild/update.sh
Giver of Head Pats Bot/LinuxBuild/Data/
Giver of Head Pats Bot/WindowsBuild/Data/