.obsidian/
.vscode/
Builds/
Media/API Images/
Giver of Head Pats Bot/.vs
Giver of Head Pats Bot/.idea
Giver of Head Pats Bot/HeadPat/bin/
Giver of Head Pats Bot/HeadPat/obj/
Giver of Head Pats Bot/HeadPat.NET/bin/
Giver of Head Pats Bot/HeadPat.NET/obj/
Giver of Head Pats Bot/Michiru/bin/
Giver of Head Pats Bot/Michiru/obj/
